.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #3aa8bb;
}
.main-nav__item{
    display: inline-block;

}
.main-nav__item a {
    color: aliceblue;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.main-nav__item a:hover{ /*Esta es una Pseudo clase */
    color: black;
}
.main-nav__item a:active{
    color: brown;
}
.main-nav__item a::after{ /* Este es un Pseudo elemento */
    content: " | ";
    
}