*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}
section{
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    background-color: cornflowerblue;
    margin: 0 auto;
}