article{
    color: darkgoldenrod;
    font-size: 50px;
}
/*ul{
    color: rgb(20, 216, 20);
    font-size: 25px;
    font-weight: bold;
    
}
a{
    color: chocolate;
}*/
.main-section-ol__item img{
    width: 25px;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    align-content: center;
}
main{
    background-color: rgb(109, 184, 155);
}
.main-section-ul{
    color: rgb(226, 86, 43);
    font-size: 25px;
    font-weight: bold;
}
.main-section{
    color: rgb(9, 12, 236);
    font-size: 20px;
    
}
.main-section-ol__item a{
    color: blue;
}