*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size 62.5%;
}
main{
    width: 800px;
    height: 750px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkolivegreen;
    border-radius: 50px;
    box-shadow: 0px 0px 8px 2px hsla(0, 0%, 56%, 0.384);
} 
.box{
    background-color: antiquewhite;
    position: relative;
    bottom: 20px;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    margin: auto;
    box-shadow: 0px 0px 8px 2 px #909090;
}
.box_h2{
    padding: 8px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 36, 36);
    font-size: 30px;
}
.box_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    border-radius: 50px;
}
.box_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    height: 50px;
}